{% extends "chat/layout.html" %}

{% block body %}
    
    <ul class="list-group">
        <!-- Default chat room -->
        <li class="list-group-item">
            <a class="link-primary" href="{% url 'chat_room' 1 %}">
                <strong>Default Chat Room</strong>
            </a>
        </li>

        {% for chat in chats %}    
        {% if chat.id != 1 %}
        <li class="list-group-item">
            <a class="link-primary" href="{% url 'chat_room' chat.id %}">
                {% for user in chat.users.all %}
                    {% if user != request.user %}
                        <strong>{{ user.username }}</strong>
                    {% endif %}
                {% endfor %}
                
            </a>
        </li>
    </ul>
    {% endif %}
    {% endfor %}
{% endblock %}